 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Belanosima&family=Caprasimo&family=Dancing+Script:wght@700&family=Great+Vibes&family=Heebo&family=Inter:wght@700&family=Martian+Mono:wght@600&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}